:host {
  display: flex;
  overflow-y: hidden;
  flex: 1;
  flex-direction: column;
}

.packages {
  display: flex;
  overflow-y: hidden;
  flex: 1;
  flex-direction: column;
  row-gap: 16px;

  &__wrapper {
    display: flex;
    overflow-y: auto;
    height: 100px;
    padding: 20px;
    border: 1px solid #dcdcdc;
    border-radius: 16px;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
  }
}
