@import 'normalize.css';
@import './assets/styles/null-styles';
@import './assets/styles/typography';

html,
body {
  height: 100vh;
}

body {
  overflow-y: hidden;
}

.container {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}
